/* ==================
   GENERAL STYLES
================== */

.horlogery {
    background: #63605E;
    font-size: 16px;
    font-weight: 1.5;
}

.horlogery > .container {
    min-width: 1170px;
    background: #FFF;
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0px 15px rgba(0,0,0,0.2);
}

.horlogery h1 {
    margin: 0 0 24px;
}

.horlogery p {
    margin: 16px 0;
}

.horlogery p:last-child {
    margin-bottom: 0;
}


/* ==================
   HEADER
================== */

.horlogery .headerColPh {
    background: url('/pentaho-style/images/dufour.jpg') no-repeat center center;
    background-size: cover;
}

.horlogery .headerColPh:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}

.horlogery .headerCol {
    height: 500px;
    position: relative;
}

.horlogery .headerTitle {
    color: #FFF;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 500px;
    height: 120px;
    z-index: 1;
}

.horlogery .headerTitle h1 {
    font-size: 56px;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
}

.horlogery .headerTitle h2 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;
}


/* ==================
   INTRODUCTION
================== */

.horlogery .introductionCol {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* ==================
   FILTERS
================== */

.horlogery .filters {
    background: #F3F3F3;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* ==================
   GROUPS BAR CHART
================== */

.horlogery .groupsBarChart {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* ==================
   KPI BAR
================== */

.horlogery .kpiBar {
    background: url('/pentaho-style/images/kpi-background.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.horlogery .kpiBar table {
    border: 0 none;
}

.horlogery .kpiBar table > tbody > tr.odd,
.horlogery .kpiBar table > tbody > tr.even {
    background: none;
}

.horlogery .kpiBar table > thead > tr > th,
.horlogery .kpiBar table > tbody > tr > td,
.horlogery .kpiBar table > tbody > tr.odd > td,
.horlogery .kpiBar table > tbody > tr.even > td {
    color: #FFF;
    text-align: center;
    background: none;
    padding: 0;
    border: 0 none;
    line-height: 1.5;
}

.horlogery .kpiBar table > thead > tr > th {
    font-size: 16px;
    font-weight: 400;
}

.horlogery .kpiBar table > tbody > tr > td {
    font-size: 48px;
    font-weight: 600;
}


/* ==================
   BRANDS TABLE
================== */

.horlogery .brandsTable {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* ==================
   RELATED ARTICLES
================== */

.horlogery .relatedArticles {
}


/* ==================
   FOOTER
================== */

.horlogery .footer {
    background: #222;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    padding-top: 16px;
    padding-bottom: 16px;
}